@import url('https://fonts.googleapis.com/css?family=Space+Mono');
html, body{
  height: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}
html {
        overflow-y: hidden;
    }
    body {
        overflow-y: scroll;

        background-color:#000000;
        background-image:url("http://i.imgur.com/NpV3Wms.png");
    }

body {
	//background-image: url("http://i.imgur.com/NpV3Wms.png");
	//font-family: Helvetica,Arial,Verdana,"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3";
	//font-family: CoreSans, Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Space Mono', monospace;
	font-size : 16px;
	display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.6;
  margin-bottom: 5%;
  background-attachment: fixed;
}
